Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Auth:
                    type: "s3"
                    buckets: ["matsim-viz-awstest"]
                    roleName:
                        "Fn::GetOptionSetting":
                            Namespace: "aws:autoscaling:launchconfiguration"
                            OptionName: "IamInstanceProfile"
                            DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
    "/tmp/config.yml": 
        mode: "000755"
        owner: root
        group: root
        source: https://s3.eu-central-1.amazonaws.com/matsim-viz-server-config/auth-config.yml
        
    "/tmp/keystore.jks": 
        mode: "000755"
        owner: root
        group: root
        source: https://s3.eu-central-1.amazonaws.com/matsim-viz-server-config/keystore.jks  